# Ignore Python virtual environments
venv/

# Ignore Python bytecode
__pycache__/

# Ignore Dash cache and temporary files
.dash/
.cache/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore system and temporary files
.DS_Store


